@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.header {
  background-color: #192655;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.header .list-navi {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 0px;
}


.header .left-icon .nama{
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  color: #f3f0ca;
  font-weight: 600;
}

.header .photo-profile {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: 2px solid #AED2FF;
  margin-right: 5px;
}

.header .list-navi li a {
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  color: #f3f0ca;
  font-weight: 600;
  padding: 8px 0;
  transition: all;
  transition-duration: 300ms;
  border-bottom: 1px solid rgba(255, 68, 0, 0);
}

.header .list-navi li a:hover {
  color: #aed2ff;
  border-bottom: 1px solid #f3f0ca;
}

.list-icon {
  font-size: 24px;
  display: none;
  color: #f3f0ca;
}
.banner{
  padding-top: 7rem;
}
.banner .banner-container{
  width: 100%;
  height: 100vh;
  background-image: url(assets/photo3.png);
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top:-130px;
}

.banner-container .banner-content{
  width: 60%;
  padding-left: 140px;
}

.banner-content .head-title h2{
  font-size: 78px;
  opacity: 0.7;
  font-family: 'Poppins', sans-serif;
}

.head-title h3{
  font-size: 52px;
  opacity: 0.7;
  margin-top: -25px;
  font-family: 'Poppins', sans-serif;
}

.banner-content .btn{
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  color: #f3f0ca;
  background-color: #192655;
  border: #f3f0ca;
  border-radius: 6px;
  padding: 8px 10px;
  margin-top: 10px;
  transition: all 0.5s;
}

.banner-content .btn:hover{
  color: #aed2ff;
  background-color: azure;
  border: 2px solid #192655;
}


@media only screen and (max-width: 768px) {
  .header {
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
  }

  .header .list-navi {
    flex-direction: column;
    width: 100%;
  }

  .header ul.hidden {
    display: none;
  }

  .list-icon {
    display: flex;
    align-items: center;
  }

  .banner .banner-container{
    height: 100vh;
    background-position: 67% bottom;
  }

  .banner-container .banner-content{
    width: 70%;
    padding-left: 80px;
    }

    .banner-content .head-title{
      margin-left: -39px;
    }
  
    .banner-content .head-title h2{
      font-size: 68px;
    }
  
    .banner-content .head-title h3{
      font-size: 44px;
    }

}

@media only screen and (max-width: 480px) {
  .banner .banner-container {
    background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0,0,0,0.1), rgba(0,0,0,0.1), #91D8E4, #82AAE3), url(assets/photo2.png);
    background-size: cover;
    background-position: bottom;
    height: 100vh;
  }

  .banner-container .banner-content{
    width: 100%;
    color: #F7FF93;
    padding: 340px 30px 0;
  }

  .banner-content .head-title{
    margin-left: 0px;
  }

  .banner-content .head-title h2{
    font-size: 52px;
  }

  .banner-content .head-title h3{
    font-size: 38px;
  }
}
